html {
  font-size: 18px;
}

body {
  font-family: 'Lato', 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

p {
  font-size: 1rem;
}

.logo {
  text-align: center;
  font-size: 4rem;
}
